@charset 'utf-8';
 /* skip */
.skip>a{position:fixed;left:56%;top:-110%;transform:translate(-50%,0);z-index:10000;;border-radius:28px;padding:2rem;background-color:#292826;font-size:2rem;font-weight:700;text-align:center;color:#f9d142;}
.skip>a:focus{top:50%;transform:translate(-50%,-50%);}

/* default */
.container{width:100%;padding:84px 1rem 44px;max-width: 1160px;margin: 0 auto;display:flex;flex-direction:column;align-items:center;}
.sec_tit,.sec_tit span{display:inline-block;}
.sec_tit{font-size:26px;}
.sec_tit span{font-size:24px;font-weight:700;letter-spacing:3px;}
.sec_sub_tit{margin:24px 0;}
.sec_sub_tit,.sec_sub_tit span{display:inline-block;line-height:26px;}
.sec_sub_tit span{font-size:17px;font-weight:500;}
.sec_txt{margin-bottom:24px;line-height:22px;}
.sec_scroll{width:100%;margin-top:5rem;justify-self:center;align-self:center;}
.sec_scroll a{width:2rem;height:2rem;margin:0 auto;border:2px solid #ddd;border-top:none;border-left:none;transform:rotate(45deg);}

/* header */
.header{background-color:#f9d142;position:fixed;left:0;top:0;right:0;z-index:9999;}
.header .container{padding:12px 1rem;flex-direction:row;justify-content:space-between;}
.header .logo a{font-size:27px;font-weight:800;}
.nav{width:206px;}
.nav ul{display:flex;justify-content:space-between;}
.nav a{position:relative;text-align:center;}
.nav a::after{position:absolute;content:'';left:0;right:0;height:2px;opacity:0;background-color:#292826;transition:0.2s;}
.nav a:hover::after,.nav a.scroll::after{opacity:1;}

/* home */
.home{height:100vh;position:relative;overflow:hidden;background:url(../img/bg_star.gif) center no-repeat #000;background-size:cover;}
.home .container{padding:0;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.home .selfie{width:48.17073170731707%;max-width:297px;margin:0 auto 1rem;border-radius:50%;overflow:hidden;}
.home h2,.home h3,.home h4{text-align:center;color:#f9d142}
.home h2,.home h3{font-size:32px;font-weight:700;}
.home h4{margin:10px auto;font-size:20px;font-weight:500;}
.home h3{font-size:30px;font-weight:500;}

/* intro */
.intro .container{align-items:flex-start;}
.container article:first-child,.profile{width:100%;margin-bottom:44px;display:flex;flex-direction:column;}
.chk_btns{display:flex;justify-content:space-between;}
.chk_btns div{width:48.17073170731707%;border-radius:50px;padding:14px 0;background-color:#f9d142;text-align:center;}
.chk_btns a{font-size:18px;font-weight:500;}

.profile{margin-bottom:0;}
.profile>li{margin-bottom:20px;}
.profile>li:last-child,.skills>li:last-child,.licenses>li:last-child{margin-bottom:0;}
.profile p,.profile div{display:inline-block;}
.profile .li_tit{border-left:6px solid #f9d142;padding:0 12px 0 6px;font-size:22px;font-weight:700;line-height:26px;}
.profile .li_txt{font-size:20px;font-weight:400;}
.skills,.licenses{margin:14px 0 0 14px;}
.skills>li,.licenses>li{margin-bottom:14px;display:flex;justify-content:space-between;align-items:center;}
.skills .skill{width:33.75796178343949%;}
.skills .exp{width:10.82802547770701%;}
.skills .bar{width:49.84227129337539%;height:8px;border-radius:8px;background-color:#ddd;text-indent:-9999px;overflow:hidden;}
.skills .bar span{width:5%;height:100%;transition:4.5s;background-color:#f9d142;}
.licenses>li{justify-content:flex-start;align-items:flex-start;}
.li_date{margin-right:12px;}

/* port */
.container article.port_content{margin-bottom:0;}
.port_list{width:100%;}
.portfolio{display:flex;flex-direction:column;}
.portfolio>li{margin-bottom:1rem;width:100%;position:relative;overflow:hidden;}
.portfolio>li:last-child{margin-bottom:0;}
.port_hover,.port_info{transition:0.5s;position:absolute;top:100%;bottom:-100%;left:0;right:0;background-color:#f9d142;display:flex;flex-direction:column;}
.portfolio .port_img:hover .port_hover,.portfolio>li.active .port_info{top:0;bottom:0;}

.port_img{position:relative;overflow:hidden;}

.port_hover{padding:14px;justify-content:flex-end;}
.port_hover h4,.port_hover span,.port_hover p,.port_info h4,.port_info span,.port_info p{display:inline-block;}
.port_hover h4{font-size:26px;font-weight:800;}
.port_hover p{margin:14px 0.2rem 0 0;font-size:14px;font-weight:500;}

.port_info{padding:14px;justify-content:space-between;}
.port_info h4{font-size:32px;font-weight:800;}
.port_info span{margin-left:8px;font-size:24px;font-weight:700;}
.port_info p{margin-right:8px;font-weight:500;}
.prev_box{height:35%;display:flex;justify-content:space-between;}
.portfolio>li:last-child .prev_box{justify-content:flex-start;}
.portfolio>li:last-child .prev_box li{margin-right:5%;}
.prev_box li{background-repeat:no-repeat;background-size:cover;background-position-x:center;transition:4s 1s;text-indent:-9999px;}
.portfolio>li:nth-child(2) .prev_box li,.portfolio>li:nth-child(3) .prev_box li{transition:10s 1s;}
.portfolio>li.active .prev_box li{background-position-y:bottom;}
.mo_ver{width:21%;}
.tab_ver{width:30%;}
.pc_ver{width:42%;}
.portfolio>li:nth-child(1) .mo_ver{background-image:url(../img/giljo01.png);}
.portfolio>li:nth-child(1) .tab_ver{background-image:url(../img/giljo02.png);}
.portfolio>li:nth-child(1) .pc_ver{background-image:url(../img/giljo03.png);}
.portfolio>li:nth-child(2) .mo_ver{background-image:url(../img/rayark01.png);}
.portfolio>li:nth-child(2) .tab_ver{background-image:url(../img/rayark02.png);}
.portfolio>li:nth-child(2) .pc_ver{background-image:url(../img/rayark03.png);}
.portfolio>li:nth-child(3) .mo_ver{background-image:url(../img/indigo01.png);}
.portfolio>li:nth-child(3) .tab_ver{background-image:url(../img/indigo02.png);}
.portfolio>li:nth-child(3) .pc_ver{background-image:url(../img/indigo03.png);}
.portfolio>li:nth-child(4) .mo_ver{background-image:url(../img/hansol01.png);}
.portfolio>li:nth-child(4) .pc_ver{background-image:url(../img/hansol02.png);}

.port_info .port_tag p{font-size:18px;}
.port_info .port_txt li::before{content:'-';display:inline-block;margin-right:4px;line-height:24px;}
.port_info .port_txt li{line-height:24px;margin-bottom:8px;}
.port_info .port_txt li:last-child{margin-bottom:0;}

.port_btns{display:flex;justify-content:space-between;}
.port_btns>li{width:49%;border-radius:50px;padding:0.6rem 1rem;background-color:#292826;}
.port_btns a{text-align:center;color:#f9d142;font-weight:500;}

/* contact */
.contact .container{padding-bottom:2rem;}
.mail_add{width:100%;margin-top:1rem;text-align:center;}
.mail_add strong{font-size:28px;font-weight:700;line-height:34px;}
.mail_add i{font-size:30px;}

.bonus{width:100%;display:none;justify-content:flex-end;align-items:flex-end;}
.insta_box p,.insta_box a{font-size:22px;text-align:right;line-height:36px;font-weight:500;}
.insta_box i{font-size:26px;}
.imgs{width:40.76086956521739%;margin:0 1rem;position:relative;}
.books,.book_hover{position:absolute;bottom:-5%;right:-10%;width:27%;z-index:1;}
.book_hover{width:15%;bottom:1%;right:-4%;z-index:0;}
.book_hover{overflow:hidden;width:15%;height:0;bottom:1%;right:-4%;z-index:0;opacity:0;transition:height 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),opacity 0.8s 0.2s;}
.img_cv:hover .book_hover{height:37%;opacity:1;}
.imgs::after{content:'Z';position:absolute;bottom:13%;left:16%;transform:rotate(-18deg);animation: dog_z 2.4s infinite;}

/* footer */
.footer{background-color:#f9d142;}
.footer .container{padding:24px 0;justify-content:center;}
.footer p{font-size:12px;font-weight:300;text-align:center;}

.mo_hide,.port_hover{display:none;}

@media(min-width:440px){
  .licenses>li br{display:none;}
}
@media(min-width:680px){
  .sec_sub_tit br{display:none;}
  .portfolio{flex-flow:row wrap;justify-content:space-between;align-content:space-between;}
  .portfolio>li{width:48.6%}
  .portfolio>li:last-child{margin-bottom:1rem;}
}    
@media(min-width:768px){
  .container{padding:96px 20px;}
  .sec_tit{font-size:32px;}
  .sec_tit span{font-size:28px;}
  .sec_sub_tit,.sec_sub_tit span,.sec_txt{font-size:18px;line-height:30px;}
  .sec_sub_tit span{font-size:20px;}
  .sec_txt{margin-bottom:30px;}

  .header .container{padding:14px 20px;}
  .header .logo a{font-size:28px;}
  .nav{width:356px;}
  .nav a{font-size:20px;}
  .nav a::after{height:3px;}

  .home .selfie{width:23.35164835164835%;margin-bottom:26px;}
  .home h2{font-size:38px;}
  .home h3{font-size:34px;}
  .home h4{margin:20px auto;font-size:24px;}

  .intro .container{flex-flow:row wrap;justify-content:space-between;align-items:center;}
  .intro .container>article{width:48%;}
  .profile>li{margin-bottom:26px;}

  .profile .li_tit{padding-right:14px;font-size:24px;line-height:28px;}
  .profile .li_txt{font-size:22px;}
  .skills>li,.licenses>li{margin-bottom:10px;}
  .skills p,.licenses p{font-size:18px;}

  .container article.port_content{margin-bottom:10px;}
  .port_info{padding:18px;}
  .port_info h4{font-size:36px;}
  .port_info span{font-size:26px;}
  .port_info .port_txt li{font-size:18px;margin-bottom:6px;}
  .port_btns a{font-size:18px;}

  .mail_add strong{font-size:38px;line-height:40px;}
  .mail_add i{font-size:40px;}

  .footer .container{padding:24px 0;}
  .footer p{font-size:14px;}
}
@media(min-width:1200px){
  .section{width:calc(100% - 260px);margin-left:auto;}
  .sec_tit{font-size:42px;}
  .sec_tit span{font-size:38px;}
  .sec_sub_tit,.sec_sub_tit span,.sec_txt{margin:0;}
  .sec_sub_tit br{display:block;}
  .sec_sub_tit{width:59%;margin-bottom:3rem;font-size:26px;text-align:right;}
  .sec_sub_tit span{font-size:28px;}
  .sec_txt{width:48%;font-size:20px;line-height:28px;}
  .mo_hide{display:block;}
  .pc_hide{display:none;}
  .container{padding:70px 40px;}
  .header,.footer{width:260px;bottom:0;}
  .header{height:100vh;right:auto;}
  .header .container{height:inherit;padding:38px 52px 100px;flex-direction:column;justify-content:space-between;}
  .header .logo a{font-size:56px;}

  .nav{width:auto;}
  .nav ul{flex-direction:column;align-items:flex-start;}
  .nav li{margin-bottom:10vh;}
  .nav li:last-child{margin-bottom:0;}
  .nav a{font-size:28px;}

  .mail_git{width:100%;margin-bottom:8vh;}
  .mail_git ul{display:flex;justify-content:space-around;}
  .mail_git a{font-size:48px;}

  .footer{position:fixed;left:0;z-index:9999;background-color:#292826;}
  .footer .container{padding:30px;}
  .footer p{color:#f9d142;line-height:20px;}

  .home .selfie{width:32.39130434782609%;max-width:500px;margin-bottom:4vh;}
  .home h2{font-size:48px;}
  .home h3{font-size:44px;}
  .home h4{margin:2vh auto;font-size:32px;}

  .intro .container{flex-direction:column;}
  .intro .container>article{width:100%;}
  .container>article:first-child,.profile{flex-flow:row wrap;justify-content:space-between;align-items:flex-start;}
  .intro_content{margin-bottom:64px;}
  .chk_btns{width:50%;align-self:center;}
  .chk_btns a{font-size:22px;}
  .profile>li{margin:0;width:49%;}
  .profile .li_tit{padding-left:12px;font-size:32px;line-height:38px;}
  .skills,.licenses{margin:1rem 0 0 1rem;}
  .skills p,.licenses p{font-size:20px;}

  .portfolio{padding-bottom:300px;position:relative;}
  .portfolio::before{content:'이미지를 클릭해주세요';position:absolute;top:50%;bottom:0;left:0;right:0;background-color:#f9d142;text-align:center;padding:11.5%;font-size:42px;}
  .portfolio>li{width:24%;position:static;}
  .portfolio>li .port_info{opacity:0;top:46%;z-index:1;transition:none;}
  .portfolio>li.active .port_info{opacity:1;}
  .port_hover{display:flex;}
  .portfolio>li.active .port_info{top:48%;}
  .portfolio::after{content:'';border:20px solid transparent;border-bottom-color:#292826;position:absolute;top:57%;right:50%;transform:translateX(50%);animation: tri_mov 0.8s infinite ease-in-out;z-index:0;}      
  .port_info{flex-wrap:wrap;padding:22px;bottom:0;}
  .port_info>div,.port_info>ul{width:48%;}
  .prev_box{order:1;height:100%;width:48%;}
  .prev_box li{height:100%;}
  .portfolio>li:last-child .prev_box{justify-content:space-evenly;}

  .contact .container{padding-bottom:70px;}
  .contact .sec_sub_tit{width:71%;}
  .mail_add{margin-bottom:80px;}

  .bonus{display:flex;}      
}
@media(min-width:1440px){
  .sec_sub_tit{width:50%;}
}
@keyframes tri_mov{
  0%{top:57%;}
  50%{top:55.7%;}
  100%{top:57%;}
}
@keyframes dog_z{
  0%{opacity:0;}
  5%{bottom:13%;left:16%;opacity:0.3;}
  8%{opacity:1;}
  50%{bottom:18%;left:17%;transform:rotate(-20deg);}
  100%{bottom:23%;left:15%;transform:rotate(19deg);opacity:0;}
}   